.App-header {
  background-color: #282c34;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.rojo {
 background-color: red;
}
.verde {
  background-color: green;
}

.divCard {
  border: 1px solid silver;
  border-radius: 5%;
  padding: 15px;
}
.divCardTitle {
  font-size: 1.5rem;
  text-align: center;
  padding: 15px;
}
.divCardCaracteristicas {
  border: 1px solid silver;
  border-radius: 5%;
  padding: 15px;
}
.cardCaracteristicas {
  list-style: none;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
}